@import '../styles/footer.scss';
@import '../styles/header.scss';
@import '../styles/main.scss';
@import '../styles/responsivity.scss';
@import '../styles/variables.scss';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

header {
    width: 100%;
    background-color: $wood;
}

main {
    background-color: $white;
}

footer {
    background-color: $wood;
}

body {
    width: 100%;
    height: 100dvh;
    position: relative;
    outline: none;
    overflow-x: hidden;
}

p {
    font-size: 1rem;
    font-family: 'Poppins', serif;
    color: $black;
}

h1,
h2 {
    font-size: 2.5rem;
    font-family: 'Roboto', serif;
}

a {
    font-size: 1rem;
    font-family: 'Poppins', serif;
    color: $white;
    cursor: pointer;
}

i {
    font-size: 1.3rem;
    color: $white;
    cursor: pointer;
}

button {
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Poppins', serif;
    background-color: $black;
}

img {
    width: 100%;
}

svg {
    width: 100%;
}

@media (width <=768px) {

    h1,
    h2 {
        font-size: 1.5rem;
    }
}